* {
  padding: 0%;
  margin: 0px;
}

.parent{
  min-height: 100vh;
  width: 100%;
  padding: 20px;
  background-color: #415a77;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.card{
  width: 200px;
  border: 2px solid black;
  border-radius: 20px;
  margin: 05px;
  padding: 05px;
  background-color: #ced4da ;
  box-shadow: 0px 10px 12px #081c15;
}

.img-box {
  position: relative;     
  width: 100%;
}

.img-box img {
  width: 100%;
  height: 180px;
  border-radius: 15px;
  object-fit: fill;
}

.heart {
  position: absolute;
  top: 150px;
  right: 0px;            

  border: 2px solid #800e13;
  border-radius: 50%;
  background: none;
  color: #800f2f;
  cursor: pointer;
  padding: 3px;
}

.center h3{
  font-family: 'Lucida Sans Unicode' ;
  text-align: center;
  padding-top: 05px;
  font-size: 14px;
}

.center h2{
  font-family: sans-serif ;
  font-size: medium;
  padding-top: 05px;
  text-align: center;
}

.btn-buy{
  height: 30px;
  width: 70px;
  margin: 10px 0px 10px 20px;
  background-color: #343a40;
  border: none;
  color: white;
  box-shadow: 0px 8px 10px #081c15;
}

.btn-buy:hover{
  transform: translateY(-2px);
}


.btn-add{
  height: 30px;
  width: 80px;
  margin-left: 10px;
  background-color: #343a40;
  border: none;
  color: whitesmoke;
   box-shadow: 0px 8px 10px #081c15;
}

.btn-add:hover{
  transform: translateY(-2px);
}
