button{
  padding: 10px;
  margin: 10px;
  background-color: cadetblue;
}

input{
  padding: 10px;
  margin: 10px;
  background-color: rgb(255, 255, 255);
}

.box{
  height: 200px;
  width: 200px;
  background-color: aquamarine;
}

.page1{
  height:100vh;
  width: 100%;
  background-color: #00b4d8;
}

.page2{
  height:100vh;
  width: 100%;
  background-color: #90e0ef;
}
.page3{
  height:100vh;
  width: 100%;
  background-color: #caf0f8;
}