.nav{
  height: 60px;
  background-color: rgb(59, 163, 255);
  border-radius: 10px;
  margin: 0px;
  text-align: center;
  padding-top: 20px;

}
.nav:hover{
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transform: translateY(5px);
}

.Card {
  display: flex;              
  flex-wrap: wrap;
  gap: 16px;
  width: 300px;
  padding: 20px;
  margin-top: 50px;
  background-color: #ebfffc;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.Card h2 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #333;
}

.Card div {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
}
